nav.show-on-lg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  border: 1px solid grey;
  padding: 1rem;
}
nav.show-on-lg ul {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  gap: 1rem;
}
nav.show-on-lg a.primary-cta {
  padding: 5px 1rem;
  border-radius: 1rem;
}
@media (max-width: 768px) {/*Phone screen*/
  nav.show-on-lg {
    display: none;
  }
}

@media (min-width: 768px) {/*Tablet*/
  :root {
    --container-padding: 2rem 3rem;
  }
  .hide-on-lg {
    display: none;
  }
  .show-on-lg {
    display: block;
  }
    .cta {
    display: inline-block;
    padding: 5px 1rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
  }
  
}