nav.show-on-lg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  background: var(--color-background);
  /* border: 1px solid grey; */
  padding: 1rem 3rem;
  z-index: 100;
  box-shadow: 2px 2px 1rem grey;
}
nav.show-on-lg ul {
  display: flex;
  flex-direction: row;
  /* justify-content: baseline; */
  /* align-items: baseline; */
  border: 1px solid grey;
  gap: 1rem;
  /* padding: 0; */
}
nav.show-on-lg ul li {
  border: 1px solid;
  /* padding: 0; */
  /* margin: 0; */
}
nav.show-on-lg a.primary-cta {
  padding: 5px 1rem;
  border-radius: 1rem;
}
@media (max-width: 768px) {/*Phone screen*/
  nav.show-on-lg {
    display: none;
  }
}

@media (min-width: 768px) {/*Tablet*/
  :root {
    --container-padding: 2rem 3rem;
  }
  .hide-on-lg {
    display: none;
  }
  .show-on-lg {
    display: block;
    
  }
  body {
    font-size: 1.2rem;
  }
    .cta {
    display: inline-block;
    padding: 10px 1.4rem;
    border-radius: 1rem;
    /* text-align: center; */
    /* font-weight: bold; */
    margin: 15px 0;
  }
  nav.show-on-lg .cta {
    padding: 8px 1rem;
  }
  .hero {
    margin-top: 9rem;
  }
  h1 {
    font-size: 2.8rem;
    color: var(--color-primary);
  }
  h1 span {
    font-size: 2.3rem;
    display: block;
    color: var(--color-heading);
  }
  .container {
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }
  .faq-container {
    width: 80%;
    margin: auto;
  }
  .hero .container {
    grid-template-columns: 1fr;
  }
  section#admissions .container {
    width: 70%;
  }
}

@media (min-width: 1023px) {
  :root {
    --container-padding: 2rem 5rem;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  section#about .container {
    grid-template-columns: 50% 50%;
  }
}